{% extends 'main/base.html' %} {% block title %}หน้าแรก{% endblock %} {% block content%}

<!-- About Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="https://raw.githubusercontent.com/MPR2014v8/PlanTripFinal/main/static/media/images/homepage.png" class="img-fluid" alt="About Us">
        </div>
        <div class="col-lg-6">
            <h2 class="mb-4">เกี่ยวกับเรา</h2>
            <p>เว็บไชต์นี้ถูกพัตนาขึ้นมาเพิ่อใช้ในรายวิชาโครงงาน</p>
            <p>พัตนาขึ้นมาโดย</p>
            <p>นายวชิระ ทองเลิศ 64040249107</p>
            <p>นางสาวธนัชภร์ณ์ อาจกมล 63040249113</p>
            <p>คณะวิทยาศาสตร์ สาขาวิทยาการคอมพิวเตอร์ มหาลัยราชภัฏอุดรธานี</p>
            <br>
            <p>สำหรับผู้ประกอบการที่ต้องการสมัครใช้บริการ กรุณาติดต่อเรา.</p>
            <p>อีเมลสำหรับติดต่อ : 64040249107@udru.ac.th</p>
        </div>
    </div>
</div>

{% endblock %}
