{% extends "base_test.html" %} {% block title %}เปลี่ยนรหัสผ่าน{% endblock title%} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h4>เปลี่ยนรหัสผ่าน</h4>
        </div>
        <div class="card-body form-group">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_old_password">รหัสผ่านเดิม:</label>
                    <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                </div>
                <div class="mb-3">
                    <label for="id_new_password1">รหัสผ่านใหม่:</label>
                    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                    <ul style="list-style-type: circle" class="pl-5 pt-2">
                        <li>รหัสใหม่ไม่ควรเหมือนกับรหัสผ่านเดิมมากเกินไป.</li>
                        <li>รหัสผ่านใหม่ต้องมีตัวอักษร 8 ตัวอักษรขึ้นไป.</li>
                        <li>รหัสผ่านใหม่ต้องไม่ใช้รหัสผ่านที่ใช้กันทั่วไป</li>
                        <li>รหัสผ่านใหม่ต้องไม่ใช้ตัวเลขทั้งหมด</li>
                    </ul>
                </div>
                <div class="mb-3">
                    <label for="id_new_password2">ยืนยัน-รหัสผ่านใหม่:</label>
                    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </div>
                
                <button type="submit" class="btn btn-danger">เปลี่ยนรหัสผ่าน</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
